:root {
  --bs-breadcrumb-divider: ">";
}

.breadcrumb_nav {
  background-color: black;
  color: greenyellow;
  height: 40px;
  display: flex;
}
.breadcrumb_nav a{
    color: greenyellow;
    text-decoration: none!important;
}
.breadcrumb_nav p{
    color: greenyellow;
    display: inline;
}


.pro_name {
    font-size: 30px;
    /* font-family: monospace; */
}
.pro_author {
    font-size: 16px;
    font-weight: normal;
    /* font-family: monospace; */
}
.pro_des_long{
    max-height: 360px;
    overflow: auto;
}
.pro_des{
    font-weight: bold;
    font-size: larger;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}
.blue{
    color:blue
}
.green{
    color: #6aba35;
}

.rating_pro{
    width: 60%;
}
.pro_comment{
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    padding: 10px;
}
.border_right{
    border-right: solid 1px rgb(222,226,230);
}

.favorite {
    color: #f0002a;
}

.category:hover {
    color: var(--primary-color) !important;
}

.reviewInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8px;
}

.reviewIcon {
    padding-top: 6px;
}

.borderPrimary {
    border-color: var(--primary-color) !important;
}

@media (max-width: 767.98px ) { 
    .pro_des_long{
        max-height: 280px;
        overflow: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .pro_des_long{
        max-height: 140px;
        overflow: auto;
    }
}