.price {
    display: flex;
    justify-content: center;
}


.price {
    text-decoration: underline;
    font-weight: bold;
}

.angleRightBtn {
    right: 10px;
}

.angleLeftBtn {
    left: 10px;
}

.angleLeftBtn,
.angleRightBtn {
    position: absolute;
    top: 45%;
    background-color: rgb(50, 50, 50, 0.5); /* #323232 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    height: 50px;
}

.angleLeftBtn:hover,
.angleRightBtn:hover {
    background-color: #323232;
}

.angleLeftBtn > i,
.angleRightBtn > i {
    color: #fff;
}

.containerSlider {
    margin: 0 48px 0 48px;
}

@media (max-width: 767.98px ) { 
    .containerSlider {
        margin: 0 12px 0 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .containerSlider {
        margin: 0 36px 0 36px;
    }
}