@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
}
.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-heart:before {
  content: "\f004";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}

.set-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.featured__item {
  margin-bottom: 10px;
}
.featured__item:hover .featured__item__pic .featured__item__pic__hover {
  bottom: 20px;
}
.featured__item__pic {
  height: 190px;
  position: relative;
  overflow: hidden;
  background-position: center center;
}
.featured__item__pic__hover {
  position: absolute;
  left: -17px;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.featured__item__pic__hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px;
}
.featured__item__pic__hover li:last-child {
  margin-right: 0;
}
.featured__item__pic__hover li:hover a {
  background: #7fad39;
  border-color: #7fad39;
}
.featured__item__pic__hover li:hover a i {
  color: #fff;
  transform: rotate(360deg);
}
.featured__item__pic__hover li a {
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #fff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.featured__item__pic__hover li a i {
  position: relative;
  transform: rotate(0);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.featured__item__text {
  text-align: center;
  padding-top: 15px;
}
.featured__item__text h6 {
  margin-bottom: 10px;
}
.featured__item__text h6 a {
  color: #252525;
}
.featured__item__text h5 {
  color: #252525;
  font-weight: 700;
}
/*! CSS Used fontfaces */
.featured__controls {
  text-align: center;
  margin-bottom: 50px;
}
.featured__controls ul li {
  list-style: none;
  font-size: 18px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}
.featured__controls ul li.active:after {
  opacity: 1;
}
.featured__controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #7fad39;
  content: "";
  opacity: 0;
}
.featured__controls ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 479px) {
  .featured__controls ul li {
    margin-bottom: 10px;
  }
}

/*! CSS Used from: https://preview.colorlib.com/theme/ogani/css/A.bootstrap.min.css+font-awesome.min.css+elegant-icons.css+nice-select.css+jquery-ui.min.css+owl.carousel.min.css+slicknav.min.css+style.css,Mcc.4YNTZ7I7f2.css.pagespeed.cf.sbKPPdYIiz.css */
*,
::after,
::before {
  box-sizing: border-box;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}
.section-title h2 {
  color: #1c1c1c;
  font-weight: 700;
  position: relative;
}
.section-title h2:after {
  position: absolute;
  left: 0;
  bottom: -15px;
  right: 0;
  height: 4px;
  width: 80px;
  background: #7fad39;
  content: "";
  margin: 0 auto;
}
.featured__controls {
  text-align: center;
  margin-bottom: 15px;
}
.featured__controls ul li {
  list-style: none;
  font-size: 18px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}
.featured__controls ul li.active:after {
  opacity: 1;
}
.featured__controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #7fad39;
  content: "";
  opacity: 0;
}
.featured__controls ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 479px) {
  .featured__controls ul li {
    margin-bottom: 10px;
  }
}

.active_nav {
  background-color: dodgerblue;
  color: white;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
  width: 190px;
  height: 190px;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
width: 100%;
border: 3px solid #00B4CC;
border-right: none;
padding: 5px;
height: 36px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9DBFAF;
}

.searchTerm:focus{
color: #00B4CC;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
width: 50%;
}
